body {
    margin: 0;
    background-color: #F2F2F2;
}
*, *::before, *::after {
   box-sizing: border-box;
}
.section-header {
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  border-top: 1px #D9FFF5 solid;
  padding: 16px;
}
.section-brands {
  max-width: 1120px;
}
.section-header__title {
font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;
text-transform: uppercase;
color: #7E7E82;
font-weight: lighter;
}
.swiper {
  height: 100px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.content-card {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper__content-card {
width: 240px !important;
}

.flex-for-content-card__content-card {
  height: 72px;
  width: 224px;
}

.swiper-wrapper {
  height: 72px !important;
}

.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #aeaeae !important;
}
/* .swiper-slide__cont {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  justify-content: space-between;
} */
.circular-link-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  position: relative;
}
.circular-link-button:before {
  content: "";
  position: absolute;
  width: 9.6px;
  height: 9.6px;
  border-top: 2px solid #FF3E79;
  border-right:  2px solid #FF3E79;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%) rotate(45deg);
  transform-origin: center;

}
.flex-for-content-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  display: none;
  margin-bottom: 24px;
}
.section-brands__container{
  padding: 24px;
  padding-bottom: 32px
}
.section-brands__flex-for-content-card {
  height: 160px;
  overflow: hidden;
}
.read-more {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #1B1C21;
  text-align: end;
}
.read-more--hidden {
  display: none;
}
.read-more__logo--rotated {
  transform: rotate(180deg);
}
.read-more span {
  padding-left: 16px;
}
.flex-for-content-card--opened {
  height: 248px;
  margin-bottom: 46px;
}


 @media (min-width: 768px) {
  .swiper {
    display: none;
  }
  .flex-for-content-card {
    display: flex;
  }
  .read-more--hidden {
    display: inline-block;
  }
 } 
 @media (min-width: 1120px) {
  .flex-for-content-card {
    column-gap: 32px;
  }
  .flex-for-content-card__content-card {
    width: 240px;
  }
  .section-container {
    padding-left: 32px;
    padding-right: 32px;
  }
 }
