@font-face {
    font-family: TT Lakes;
    src: url(fonts/TTLakes-Medium.woff);
}
@font-face {
    font-family: 'TT Lakes black';
    src: url(fonts/TTLakesCondensed-Bold.woff);
}


body {
    margin: 0;
    font-family: 'TT Lakes';
    background-color: #F8F8F8;
    ;
}
* {
    box-sizing: border-box;
}

/* HEADER */

.header {
    width: 100%;
    border-bottom: 1px solid  #D9FFF5;
    background-color: white;
}
.container {
    width: 100%;
    display: flex;
}
.header__container {
    gap: 16px;
    align-items: center;
    padding: 1.125rem 1rem;
}
.divider {
    border: 1px solid #EAEAEA;
    height: 32px;
    border-radius: 1px;    
}
.logo-link {
    margin-right: auto;
}
.buttons-wrapper {
 display: flex;
 gap: 16px;
}
.option-button__image {
  border-radius: 50%;
}
.option-button {
    border-radius: 50%;
    border: none;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: transparent;
}
.invisible {
    display: none;
}
@media (min-width: 768px) {
    .invisible {
        display: flex;
    }
}

/* MAIN */
.main-header__container {
    padding: 1.5rem 1rem;
    padding-left: 0;
}
.highlight {
  height: 30px;
  width: 4px;
  background-color: #41F6D7;
  display: inline-block;
  border-radius: 2px;
}
.main-header__title {
    font-size: 28px;
    margin: 0 0.75rem;
}
.main-header__button-wrapper {
  margin-left: auto;
  gap: 32px;
}
.button-block {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.invisible--max-width--1120px {
    display: none;
}
@media (min-width: 1120px) {
    .invisible--max-width--1120px {
        display: flex;
    }
}

.main-menu__container {
    padding: 1.5rem 1rem;
    padding-top: 0;
}
.main-menu__list {
    display: flex;
    padding: 0;
    overflow: scroll;
    margin: 0;
}
.list__item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 16px;
    color: #7E7E82;
    flex-shrink: 0;
    font-size: 16px;
}

.list__item--focused {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main-menu__list::-webkit-scrollbar {
    display: none;
}
/* сменить значение на rem в padding */
/* доработать с классом container */

.block-about__container {
    flex-direction: column;
    height: auto
}

.block-about__text-cont {
    padding: 16px;
    padding-top: 0;
}
.block-about__text-wrapper {
    overflow: hidden;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color:  #1B1C21;
   
}
.block-about__text-wrapper p:nth-child(2) {
  margin-top: 20px;
}
.block-about__text-wrapper p:first-child {
    margin-top: 0;;
}
.block-about__image {
    
}
.read-more-button {
    margin-top: 12px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #1B1C21;
    font-family: 'TT Lakes black';
}
.read-more-button__logo {
    background-image: url('icons/read-more.svg');
    background-repeat: no-repeat;
    background-position-y: 100%;
    width: 7.5px;
    height: 10.3px;
    display: inline-block;
    padding: 8px 12px;
}

@media (min-width: 768px) {
    :root {
        font-size: 24px;
    }
    .header__container {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .block-about__container {
        flex-direction: row;
        gap: 48px;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .block-about__text-cont {
        width: 50%;
        padding-right: 0;
        padding-left: 0;
    }
    .block-about__image {
        width: 50%;
        border-radius: 6px;
    }
    .block-about__text-wrapper {
        height: 162px;
        line-height: 20px;
    }
}

@media (min-width: 1120px) {
    :root {
        font-size: 32px;
    }
    .invisible--max-width--1120px {
        display: flex;
    }
    .invisible--max-width--1120px {
        display: flex
    }
    .header {
        display: none;
    }
    .main-header__container {
        padding-bottom: 8px;
    }
    .main-menu__list {
        flex-wrap: wrap;
    }
    .main-menu__container {
        padding-bottom: 10px;
    }
}

