@font-face {
    font-family: 'TT Lakes';
    src: url(fonts/TTLakes-Medium.woff);
}
@font-face {
    font-family: 'TT Lakes black';
    src: url(fonts/TTLakesCondensed-Bold.woff);
}

* {
    box-sizing: border-box;
}
 body {
    margin: 0;
    font-family: 'TT Lakes';
 }
.side-nav-section {
  width: 320px;
  min-height: 676px;
  height: 100vh;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;

}

.option-button__image {
    border-radius: 50%;
  }
  .option-button {
      border-radius: 50%;
      border: none;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      background-color: transparent;
  }

.container {
    width: 100%;
    display: flex;
}
.header__container {
    gap: 16px;
    align-items: center;
    padding: 1.125rem 1rem;
}

.option-button--margin-left-auto {
    margin-left: auto;
}
@media (min-width: 768px) {
.header__container {
    padding: 18px 24px;
}
}
.side-nav-section__wrapper {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.side-nav-list {
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding: 0;
   margin: 0;
}
.side-nav-list__link {
    color: black;
    text-decoration: none;
}
.side-nav-list__item {
    list-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
}
.side-nav-list__item--active {
    color: #7E7E82;
}
.side-nav-list__item--active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    top: 50%;
    transform: translateY(-50%);
    left: -24px
}

.buttons-wrapper {
    display: flex;
    gap: 16px;
   }
   .side-nav-footer__telephone {
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: bolder;
    font-family: 'TT Lakes black';
    margin-top: 12px;
    margin-bottom: 40px;
   }
.side-nav-footer__email {
    margin-bottom: 12px;
}
.side-nav-footer__language-switcher-button {
    border: none;
    background-color: transparent;
}

.option-button {
    position: relative;
    transition-duration: 0.5s;
  }
   .option-button:after {
    opacity: 0;
    position: absolute;
    content: '';
    width: 30px;
    height: 10px;
    border-radius: 50%;
    background-color: #7b7777;
    filter: blur(3px);
    top: 120%;
    left: 17.5%;
  }
  .option-button:hover {
    filter: invert(1);
    transform: translateY(-10px)
  }
  .option-button:hover:after {
    opacity: 1;
   transition-duration: 2s;
  }